# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'GradleCI: toggle results': 'gradle-ci:toggle-results'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GradleCI'
      'submenu': [
        { 'label': 'Toggle Results', 'command': 'gradle-ci:toggle-results' }
      ]
    ]
  }
]
